.item__wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.item__checkbox {
  display: none;
}

.item__checkbox + label {
  display: flex;
}

.item__label {
  flex-grow: 1;
  padding: 0 5px;
}

.item__delete {
  display: none;
}

.item__delete + label {
  display: flex;
}
