.item__wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.item__label {
  flex-grow: 1;
}

.item__color-scheme {
  background-color: #FCE38A;
}

.item__color-scheme-alternate {
  background-color: #EAFFD0;
}