.new-item__wrapper {
  display: flex;
  padding: 10px;
  background-color: #95E1D3;
}

.new-item__input {
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: #95E1D3;
}

.new-item__button {
  display: none;
}